body {
  background-color: #dadada;
  font-size: 10px;
  width: 100%;
  font-family: serif;
  font-size: 75%
}

div.preview {
  padding: 6%;
  margin: 0;
  background-size: cover;
  height: 250px;
  margin-top: 6%;
}

div.baku {
  background-image:url(/images/baku.jpg);
}

div.london {
  background-image: url(/images/london.png);
}

div.madrid {
  background-image: url(/images/madrid.jpg);
}

div.rome {
  background-image: url(/images/rome.jpg);
}


h1 {
  text-align: center;
  font-size: 180%;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-family: system-ui, sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8%;
  padding-bottom: 8%;
}

h2 {
  font-size: 200%;
}

.main-title {
  text-transform: uppercase;
}


@media screen and (min-width: 650px){
  div.preview {
    width: 48%;
    float: left;
    box-sizing: border-box;
    margin: 1%;
    }

    h1 {
      font-size: 250%;
    }
  }


  @media screen and (min-width: 850px){
    div.preview {
      width: 23%;
      float: left;
      box-sizing: border-box;
      margin: 1%;
      padding: 2%;
    }

    body {
      margin-left: 10%;
      margin-right: 10%;
    }

    h1 {
      font-size: 300%;
      padding-bottom: 4%;
      padding-top: 5%;
    }
  }
